$tablet: 768px;

@mixin mobile {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

.container-me {
  margin: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEEEEE;
  padding: 20px;
  @include mobile {
    margin: 20px 0px;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .like-anchor {
    cursor:pointer;
    color: #069;
  }

  .like-anchor:hover {
    text-decoration:none;
    text-decoration:underline;
  }

  .body {
    align-items: center;
    display: flex;
    flex-direction: column;

    .input-area {
      display: flex;
      // flex: 1;
      width: 100%;
      justify-content: center;
      .input-box-pssm {
        display: flex;
        // flex: 1;
        width: 60%;
      }
      .input-box-fasta {
        display: flex;
        // flex: 1;
        width: 34%;
      }
    }
  }

  .result-container {
    margin-top: 20px;
    background-color: skyblue;
    height: auto;
    padding: 20px;
    width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    .red {
      color: red;
    }
    .green {
      color: green;
    }
  }
}
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.page-footer {
  background: #EEEEEE;
  padding: 20px 40px 0 40px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .flex-1 {
    flex: 1;
  }
}

.file-uploader {
  background-color: white;
  padding: 0 10px;
  border: 1px solid black;
}

.example {
  width: 70% !important;
  max-width: 100% !important;

  .body {
    height: 400px;
    overflow-y: auto;
  }
}